<!DOCTYPE html>
<html>
<head>
	<title>Sorteio</title>
	<script>
		function gerarCampos() {
			const container = document.getElementById('campos');
			const times = parseInt(document.getElementById('n').value) || 0;
			const quantidade = parseInt(document.getElementById('k').value) || 0;

            // Limpa campos antigos
			container.innerHTML = '';

            // Cria novos inputs
			for (let i = 0; i < times * quantidade; i++) {
				const inputJogador = document.createElement('input');
				inputJogador.type = 'text';
				inputJogador.name = 'jogador_' + i;
				inputJogador.placeholder = 'Jogador ' + (i + 1);
				inputJogador.setAttribute('list', 'lista-jogadores');

				container.appendChild(inputJogador);
				container.appendChild(document.createElement('br'));
			}
		}
	</script>
</head>
<body>
	<h1>Notas de todos os jogadores</h1>
	<ul>
		{% for chave, valor in dados.items() %}
			<li><strong>{{ chave }}:</strong> {{ valor }}</li>
		{% endfor %}
	</ul>
	<datalist id="lista-jogadores">
		{% for jogador, valor in dados.items() %}
			<option value="{{ jogador }}">
		{% endfor %}
	</datalist>

	<h1>Digite a quantidade de times, tamanho dos times e cole a lista do racha</h1>
	<form action="{{ url_for('sorteado_lista_perebas') }}" method="post">
		<input type="number" name = "n" placeholder="Quantidade de times" min="0">
		<input type="number" name = "k" placeholder="Quantidade de jogadores" min="0">
		<input type="text" name = "lista" id = "lista" placeholder="Lista do Racha">
		<button type="submit">Enviar</button>
	</form>


	<h1>Ou digite a quantidade de times, tamanho dos times e o nome dos jogadores participantes</h1>
	<form action="{{ url_for('sorteado_perebas') }}" method="post">
		<input type="number" name = "n" id = "n" placeholder="Quantidade de times" min="0" oninput="gerarCampos()">
		<input type="number" name = "k" id = "k" placeholder="Quantidade de jogadores" min="0" oninput="gerarCampos()">
		<div id="campos">
		</div>
		<button type="submit">Enviar</button>
	</form>
</body>
</html>
